:root {
  --header-height: 80px;
  --header-scroll-height: 70px;
}

html,
body {
  width: 100%;
  // -webkit-touch-callout: none;
  // -webkit-user-select: none;
  // -khtml-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  // user-select: none;
}

.container {
  max-width: 1230px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.main-container {
  padding-top: var(--header-height);
}

.comm-section {
  padding: 90px 0;
  position: relative;
}

.mb16 {
  margin-bottom: 16px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.mt0 {
  margin-top: 0px !important;
}

.pt0 {
  padding-top: 0 !important;
}

.pr0 {
  padding-right: 0 !important;
}

.bg-dark {
  background: #171717;
}

/* Home Page Starts */
.banner-section {
  width: 100%;
  height: 750px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  .container {
    .flex(center, flex-start);
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}

.banner-video {
  width: 100%;
  height: 100%;
  position: absolute;
  animation: fadeIn 0.5s ease-in-out;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
  }
}

.banner-info {
  max-width: 470px;
  width: 100%;
  position: relative;
  animation: fadeUp 1s ease-in-out;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.counter-wrap {
  background: #171717;
  padding: 20px 0;
  position: relative;
  animation: fadeUp 1s ease-in-out;
}

.counter-box-wrap {
  display: flex;
}

.counter-box {
  padding: 14px 54px;
  border-right: 1px solid rgba(255, 255, 255, 0.24);
  display: flex;
  align-items: center;
  gap: 26px;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    border-left: none;
  }

  p {
    color: #bcbcbc;
    font-size: var(--font16);
    line-height: 1.4;
  }
}

.counter-hdn {
  color: #fff;
  font-size: var(--font22);
  line-height: 1.4;
}

.brand-section {
  overflow: hidden;
  position: relative;

  .container {
    padding: 60px 0;
  }

  &::before {
    content: "";
    width: 20%;
    height: 100%;
    background: linear-gradient(
      0deg,
      #171717 36.2%,
      rgba(23, 23, 23, 0) 85.59%
    );
    position: absolute;
    top: 0;
    left: 0;
  }

  &::after {
    content: "";
    width: 20%;
    height: 100%;
    background: linear-gradient(
      0deg,
      #171717 36.2%,
      rgba(23, 23, 23, 0) 85.59%
    );
    position: absolute;
    top: 0;
    right: 0;
  }
}

.brand-hdn {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 50px;
  text-transform: capitalize;
}

.brand-swiper {
  overflow: visible;

  .swiper-wrapper {
    transition-timing-function: linear;
  }

  .swiper-slide {
    width: fit-content;
  }
}

.brand-img {
  width: fit-content;
}

.anim-para-box {
  max-width: 984px;
  width: 100%;
  margin: 0 auto 40px;
}

.reveal-text {
  color: #fff;
  text-align: center;
  font-weight: 500;
  line-height: 1.2;
  font-size: calc(var(--font42) + 2px);

  .word {
    opacity: 0.3;
  }
}

.expert-box {
  position: relative;
  width: 100%;
  height: 100%;
}

.expert-img {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.expert-info {
  width: 90%;
  position: absolute;
  bottom: -5%;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 8px;
  background: #fff;
  padding: 22px 26px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  h3 {
    color: #000;
    font-size: var(--font20);
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 12px;
  }

  p {
    color: #727070;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    padding-bottom: 18px;
    margin-bottom: 20px;
    border-bottom: 1px solid #f1f1f1;
    .ellipsisV(3);
  }
}

.know-more-btn {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
  position: relative;

  &::after {
    content: "\e902";
    font-family: "icomoon" !important;
    font-size: 12px;
    color: #3d9dcd;
    position: absolute;
    right: -18px;
    top: 1px;
    transform: rotate(-45deg);
    .anim();
  }

  &:hover {
    &::after {
      top: 0;
      color: #000;
      transform: rotate(0deg);
    }
  }
}

.choose-section {
  background: #171717;
  position: relative;
  overflow: hidden;
}

.choose-bg {
  position: absolute;
  bottom: -12%;
  left: 0;
}

.choose-wrap {
  .flex(space-between,flex-start);
  border-top: 1px solid #464646;
}

.choose-left {
  padding: 42px 28px 0 0;
  max-width: 280px;
  width: 100%;

  p {
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 28px;
  }
}

.choose-right {
  flex: 1;
  border-left: 1px solid #464646;
  display: flex;
  gap: 30px;
  padding: 40px 0 0 30px;

  .f-row {
    gap: 66px 0;
    flex: 1;
  }
}

.choose-img {
  max-width: 280px;
  width: 100%;
}

.choose-info-box {
  padding-top: 26px;
  border-top: 1px solid #3d9dcd;

  h3 {
    color: #fff;
    font-size: var(--font32);
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 50px;
  }

  p {
    color: #b3b3b3;
    font-size: 14px;
    line-height: 1.6;
  }
}

.comm-nav-wrap {
  .flex(space-between,center);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  z-index: 1;
  max-width: 450px;
  width: 100%;
}

.comm-nav {
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;

  .flex();

  i {
    font-size: 18px;
    color: #000;
  }
}

.business-wrap {
  .flex(space-between,center);
  gap: 40px;
  max-width: 1078px;
  width: 100%;
  margin: 0 auto;
}

.business-img-swiper {
  max-width: 460px;
  width: 100%;
  position: relative;
  padding: 24px 36px 0;
}

.business-elem {
  position: absolute;
  top: 5px;
  right: -10px;
}

.business-img {
  width: 100%;
}

.business-info-swiper {
  max-width: 554px;
  width: 100%;
}

.business-info-box {
  p {
    color: #000;
    font-size: var(--font30);
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -0.6px;
    margin-bottom: 34px;
  }
}

.quotes-img {
  width: 32px;
  margin-bottom: 20px;
}

.rating-img {
  width: 145px;
  margin-bottom: 32px;
}

.associate-name {
  color: #000;
  font-size: var(--font20);
  font-weight: 700;
  line-height: 1.5;
}

.designation {
  color: #757095;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.grow-wrap {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.grow-left {
  max-width: 476px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 32px;
}

.grow-info {
  flex: 1;
  p {
    color: #fff;
    font-size: var(--font22);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.22px;
    margin-bottom: 28px;
  }

  h3 {
    color: #909090;
    font-size: 16px;
    font-weight: 500;
    line-height: 2;
    letter-spacing: -0.16px;
  }
}

.grow-right {
  max-width: 585px;
  width: 100%;

  .comm-sec-hdn {
    margin-bottom: 18px;
  }

  .form-field {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.08);
    border: none;
    padding: 18px 16px;
    color: #fff;
  }

  .form-grp {
    margin: 0 0 16px 0;
  }
}
/* Home Page Ends */

/* Contact Us Page Starts */
.contact-wrap {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.contact-left {
  max-width: 310px;
  width: 100%;

  .comm-sec-hdn {
    margin-bottom: 46px;
  }
}

.contact-info {
  h3 {
    color: #5b5e63;
    font-size: var(--font18);
    font-weight: 500;
    line-height: normal;
    margin-bottom: 4px;
  }

  a {
    color: #333;
    font-size: var(--font18);
    font-weight: 500;
    line-height: normal;
    margin-bottom: 30px;
    display: block;
    .anim();

    &:hover {
      color: var(--button-fill);
    }
  }

  p {
    color: #333;
    font-size: var(--font18);
    font-weight: 500;
    line-height: 1.2;
  }
}

.contact-right {
  max-width: 585px;
  width: 100%;
}

.faq-wrap {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.faq-left {
  max-width: 326px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 24px;

  p {
    color: #fff;
    font-size: var(--font18);
    line-height: 1.5;

    a {
      color: var(--button-fill);
      .anim();

      &:hover {
        color: #fff;
      }
    }
  }
}

.faq-right {
  max-width: 585px;
  width: 100%;
}
/* Contact Us Page Ends */
