@media all and (max-width: 1600px) {
  .button {
    font-size: 14px;
  }
}

@media all and (max-width: 1440px) {
}

@media all and (max-width: 1366px) {
  .tb-info {
    padding: 18px;
  }
}

@media all and (max-width: 1200px) {
  :root {
    --header-height: 60px;
    --comm-space: 70px;
  }

  .sec-hdn.center {
    margin: 0 auto 36px;
  }

  .logo,
  .dark-logo {
    width: 110px;
  }

  .container {
    max-width: 960px;
  }

  .counter-box {
    padding: 14px 34px;
  }

  .banner-section {
    height: 650px;
  }

  .expert-info {
    width: 94%;
    padding: 14px 18px;
  }

  .expert-info h3 {
    color: #000;
    margin-bottom: 6px;
  }

  .expert-info p {
    padding-bottom: 12px;
    margin-bottom: 10px;
  }

  .choose-img {
    max-width: 270px;
  }

  .choose-info-box h3 {
    margin-bottom: 24px;
  }

  .choose-right .f-row {
    gap: 36px 0;
  }

  .contact-right {
    max-width: 495px;
  }

  .faq-right {
    max-width: 520px;
  }

  .accordion,
  .acc-item.active .accordion {
    padding: 20px;
  }

  .panel {
    padding: 0 20px 20px;
  }

  .accordion i {
    font-size: 14px;
  }

  .comm-service-para p {
    margin: 30px 0 0 auto;
  }

  .fix-img {
    width: 100%;
    height: 310px;
  }

  .fix-info p {
    margin-bottom: 18px;
  }

  .trm-img {
    height: 250px;
  }

  .trm-info {
    padding: 18px 26px;
  }

  .trm-card {
    border-radius: 20px;
  }

  .comm-nav {
    width: 40px;
    height: 40px;

    i {
      font-size: 16px;
    }
  }

  .cfm-detail-box {
    margin-bottom: 18px;
    padding-bottom: 18px;
  }

  .product-img {
    height: 40px;
  }

  .tb-info {
    padding: 20px 22px;
    transform: translateY(0px);
  }

  .tb-info p,
  .tb-info a {
    opacity: 1;
  }
}

@media all and (max-width: 1025px) {
  .banner-info {
    max-width: 350px;
  }
}

@media all and (max-width: 990px) {
  :root {
    --input-height: 45px;
  }

  .container {
    max-width: 800px;
  }

  .button {
    font-size: 14px;
  }

  .counter-box {
    padding: 14px 20px;
  }

  .choose-wrap {
    flex-direction: column;
    border-top: none;
    gap: 40px;
  }

  .choose-left {
    padding: 0;
  }

  .choose-right {
    padding: 0;
  }

  .business-wrap {
    flex-direction: column;
  }

  .grow-wrap {
    gap: 40px;
    flex-direction: column;
  }

  .grow-right {
    max-width: 100%;
  }

  .grow-left {
    flex-direction: column;
    gap: 22px;

    .quotes-img {
      margin-bottom: 0;
    }
  }

  .expert-wrap {
    .f-row {
      gap: 60px 0;
    }
  }

  .counter-box-wrap {
    flex-direction: column;
    margin: 0 auto;
    gap: 16px;
  }

  .counter-box {
    border: none;
    padding: 0;
  }

  .contact-wrap {
    gap: 40px;
    flex-direction: column;
  }

  .contact-right {
    max-width: 100%;
  }

  .faq-wrap {
    gap: 40px;
    flex-direction: column;
  }

  .faq-right {
    max-width: 100%;
  }

  .buy-box {
    padding: 40px 30px 20px;
  }

  .buy-img {
    max-width: 170px;
  }

  .sleepy-box {
    border-radius: 20px;
  }

  .comm-service-wrap:nth-child(even),
  .comm-service-wrap {
    margin: 0 auto 80px;
    flex-direction: column;
  }

  .sleepy-container {
    margin: 0 auto 60px;
  }

  .sleepy-section .container .comm-nav-wrap {
    justify-content: center;
    position: static;
    gap: 20px;
  }

  .fix-wrap {
    flex-direction: column;
  }

  .fix-info {
    max-width: 100%;
  }

  .service-info {
    padding: 20px 24px;
  }

  .redefine-box {
    border-radius: 14px;
    padding: 28px 22px;
  }

  .redefine-box p::before {
    width: 18px;
    height: 18px;
    top: 1px;
  }

  .redefine-box p {
    padding-left: 26px;
  }

  .trm-img {
    height: auto;
  }
}

@media all and (max-width: 768px) {
  .container {
    max-width: 100%;
  }

  .footer-top {
    padding-bottom: 34px;
    margin-bottom: 40px;
    flex-direction: column;
  }

  .footer-top-right {
    gap: 30px;
    flex-direction: column;
  }

  .footer-btm {
    flex-direction: column-reverse;
  }

  .footer-box {
    padding: 40px 0;
  }

  .brand-hdn {
    margin-bottom: 30px;
  }

  .comm-service-img {
    max-width: 460px;
    width: 100%;
    height: auto;
  }

  .service-img {
    height: auto;
  }

  .tb-info {
    padding: 20px 16px;
  }

  .tb-hdn {
    margin-bottom: 16px;
  }

  .trm-tab-box {
    overflow: hidden;
    overflow-x: auto;
    padding-bottom: 8px;

    &::-webkit-scrollbar {
      height: 3px;
      border-radius: 4px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #fff;
      border-radius: 4px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #000;
      border-radius: 4px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #000;
    }
  }

  .cfm-wrap {
    flex-direction: column;
    align-items: center;
  }

  .cfm-info {
    max-width: 100%;
  }
}

@media all and (max-width: 640px) {
  .choose-right {
    flex-direction: column;
    border: none;
  }

  .sec-hdn {
    max-width: 320px;
    margin-bottom: 38px;
  }

  .sec-hdn.center {
    margin: 0 auto 38px;
  }

  .rating-img {
    width: 125px;
    margin-bottom: 12px;
  }

  .quotes-img {
    width: 26px;
    margin-bottom: 14px;
  }

  .grow-info p {
    margin-bottom: 18px;
  }

  .grow-right .form-field {
    border-radius: 6px;
  }

  .grow-right .form-grp {
    margin: 0 0 20px 0;
  }

  .banner-hdn {
    max-width: 200px;
    letter-spacing: 0;
  }

  .brand-section .container {
    padding: 20px 0;
  }

  .footer-top-left .logo {
    width: 132px;
  }

  .social-wrap a {
    width: 40px;
    height: 40px;
  }

  .sleepySwiper2 {
    display: none;
  }

  .sleepy-box {
    border-radius: 14px;
  }

  .choose-bg {
    width: 150px;
  }

  .popup-fix::after {
    width: 44px;
    height: 44px;
  }

  .fix-wrap {
    gap: 30px;
  }

  .comm-service-para p:first-child {
    font-size: 20px;
  }

  .fit-solution-para p {
    font-size: 20px;
  }

  .redefine-wrap .f-row {
    row-gap: 15px;
  }

  .service-info {
    padding: 20px 16px;
  }

  .service-hdn {
    margin-bottom: 16px;
  }

  .service-info ul li {
    margin-bottom: 14px;
    padding-left: 16px;
  }

  .redefine-box {
    padding: 24px 16px;
  }

  .comm-service-para p {
    margin: 20px 0 0 auto;
    max-width: 100%;
  }
}

@media all and (max-width: 576px) {
  .accordion,
  .acc-item.active .accordion {
    padding: 20px 14px;
  }

  .panel {
    padding: 0 14px 20px;
  }

  .fix-img {
    height: auto;
  }

  .trm-swiper .comm-nav-wrap {
    justify-content: center;
    gap: 20px;
  }

  .cfm-detail-box {
    margin-bottom: 14px;
    padding-bottom: 14px;
  }

  .cfm-para p {
    margin-bottom: 40px;
  }

  .trm-img {
    height: 220px;
  }

  .hygiene-brand-section .brand-img {
    height: 50px;
  }
}

@media all and (max-width: 480px) {
  .buy-box {
    padding: 20px;
    border-radius: 14px;
    gap: 18px;
  }

  .cfm-img {
    width: 100%;
  }
}

@media all and (max-width: 400px) {
}

@media all and (max-width: 359px) {
}
