@media all and (max-width: 1600px) {
  .button {
    font-size: 14px;
  }
}

@media all and (max-width: 1440px) {
}

@media all and (max-width: 1366px) {
  .tb-info {
    padding: 18px;
  }
}

@media all and (max-width: 1200px) {
  :root {
    --header-height: 60px;
    --comm-space: 70px;
  }

  .sec-hdn.center {
    margin: 0 auto 36px;
  }

  .logo,
  .dark-logo {
    width: 110px;
  }

  .container {
    max-width: 960px;
  }

  .counter-box {
    padding: 14px 34px;
  }

  .banner-section {
    height: 650px;
  }

  .expert-info {
    width: 94%;
    padding: 14px 18px;
  }

  .expert-info h3 {
    color: #000;
    margin-bottom: 6px;
  }

  .expert-info p {
    padding-bottom: 12px;
    margin-bottom: 10px;
  }

  .choose-img {
    max-width: 270px;
  }

  .choose-info-box h3 {
    margin-bottom: 24px;
  }

  .choose-right .f-row {
    gap: 36px 0;
  }

  .contact-right {
    max-width: 495px;
  }

  .faq-right {
    max-width: 520px;
  }

  .accordion,
  .acc-item.active .accordion {
    padding: 20px;
  }

  .panel {
    padding: 0 20px 20px;
  }

  .accordion i {
    font-size: 14px;
  }

  .comm-service-para p {
    margin-bottom: 30px;
  }

  .fix-img {
    width: 100%;
    height: 310px;
  }

  .trm-img {
    height: 250px;
  }

  .trm-info {
    padding: 18px 26px;
  }

  .trm-card {
    border-radius: 20px;
  }

  .comm-nav {
    width: 40px;
    height: 40px;

    i {
      font-size: 16px;
    }
  }

  .cfm-detail-box {
    margin-bottom: 18px;
    padding-bottom: 18px;
  }

  .product-img {
    height: 40px;
  }
}

@media all and (max-width: 1025px) {
  .banner-info {
    max-width: 350px;
  }
}

@media all and (max-width: 990px) {
  :root {
    --input-height: 45px;
  }

  .container {
    max-width: 800px;
  }

  .button {
    font-size: 14px;
  }

  .counter-box {
    padding: 14px 20px;
  }

  .choose-wrap {
    flex-direction: column;
    border-top: none;
    gap: 40px;
  }

  .choose-left {
    padding: 0;
  }

  .choose-right {
    padding: 0;
  }

  .business-wrap {
    flex-direction: column;
  }

  .grow-wrap {
    gap: 40px;
    flex-direction: column;
  }

  .grow-right {
    max-width: 100%;
  }

  .grow-left {
    flex-direction: column;
    gap: 22px;

    .quotes-img {
      margin-bottom: 0;
    }
  }

  .expert-wrap {
    .f-row {
      gap: 60px 0;
    }
  }

  .counter-box-wrap {
    flex-direction: column;
    margin: 0 auto;
    gap: 16px;
  }

  .counter-box {
    border: none;
    padding: 0;
  }

  .contact-wrap {
    gap: 40px;
    flex-direction: column;
  }

  .contact-right {
    max-width: 100%;
  }

  .faq-wrap {
    gap: 40px;
    flex-direction: column;
  }

  .faq-right {
    max-width: 100%;
  }
}

@media all and (max-width: 768px) {
  .container {
    max-width: 100%;
  }

  .footer-top {
    padding-bottom: 34px;
    margin-bottom: 40px;
    flex-direction: column;
  }

  .footer-top-right {
    gap: 30px;
    flex-direction: column;
  }

  .footer-btm {
    flex-direction: column-reverse;
  }

  .footer-box {
    padding: 40px 0;
  }

  .brand-hdn {
    margin-bottom: 30px;
  }
}

@media all and (max-width: 640px) {
  .choose-right {
    flex-direction: column;
    border: none;
  }

  .sec-hdn {
    max-width: 320px;
    margin-bottom: 38px;
  }

  .sec-hdn.center {
    margin: 0 auto 38px;
  }

  .comm-nav {
    width: 50px;
    height: 50px;
  }

  .rating-img {
    width: 125px;
    margin-bottom: 12px;
  }

  .quotes-img {
    width: 26px;
    margin-bottom: 14px;
  }

  .grow-info p {
    margin-bottom: 18px;
  }

  .grow-right .form-field {
    border-radius: 6px;
  }

  .grow-right .form-grp {
    margin: 0 0 20px 0;
  }

  .banner-hdn {
    max-width: 200px;
    letter-spacing: 0;
  }

  .brand-section .container {
    padding: 20px 0;
  }

  .footer-top-left .logo {
    width: 132px;
  }

  .social-wrap a {
    width: 40px;
    height: 40px;
  }
}

@media all and (max-width: 576px) {
  .accordion,
  .acc-item.active .accordion {
    padding: 20px 14px;
  }

  .panel {
    padding: 0 14px 20px;
  }
}

@media all and (max-width: 480px) {
}

@media all and (max-width: 400px) {
}

@media all and (max-width: 359px) {
}
